// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css?family=Rokkitt');
// Define fonts for body and headers


// $body-font: "Open Sans", "Helvetica", "sans-serif";
// $headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

* {
  font-family: 'Rokkitt', serif !important;
}

h1, h2, p {
  margin: 0 !important;
  text-align: center;
}


h1 {
  font-size: 3em;
  color: white !important;
}

h2 {
  font-size: 2em;
  margin: 40px 0 0;
  color: #999999 !important;
}

p {
  font-size: 1.5em;
  margin-top: .5em;
}



body {
  background-color: #e4e4e4 !important;
}

body i {
font-family:'FontAwesome'!important;
}

a {
  text-decoration: none !important;
  color: white !important;
}
