<div class="footer">
  <div class="network">
    <a href="https://www.instagram.com/art_of_abel/", style= "color:#999999">
      <i class="fa fa-instagram fa-2x"> Art_of_Abel</i>
    </a>
  </div>
  <p>All Rights Reserved</p>
</div>
