<div class="pages-wrapper">
  <div class="center-flex">
    <div class="content">
      <h1>Contact</h1>
      <h4>Email:</h4>
      <h4>Company:</h4>
    </div>

    <div class="content">
      <h3>Website by</h3>
      <h4>Marlon Berdefy</h4>
      <h4>Contact:</h4>
    </div>
  </div>
</div>
